<div class="page-content ask-question">
  <div class="boxedtitle page-title"><h2>Edit Question</h2></div>

  <div class="form-style form-style-3" id="question-submit">
    <%= render 'form' %>
  </div>
</div><!-- End page-content -->

