<div class="row">
  <div class="col-md-9">
    <div class="page-content ask-question">
      <div class="boxedtitle page-title"><h2>Ask Question</h2></div>

      <div class="form-style form-style-3" id="question-submit">
        <%= render 'form' %>
      </div>
    </div><!-- End page-content -->
  </div>
</div>

